a{
    text-decoration: none !important;
}

.btn_body{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10%;
    transition: all 0.2s ease;
    background-color: rgb(195, 251, 251,0.0);
}

.btn_body.active{
    background-color: rgb(115, 175, 240);
    transform: scale(1.05);
    color: #fff;
}

.btn_body:hover{
    color: #3c3b3b;
}

.btn_title{
    margin: 4px auto;
    font-weight: 550;
    font-size: 15px;
}
